.car {
  margin: 1em;
  display: flex;
  background: white;
  box-shadow: 1px 1px 1px $text_color;
  justify-content: space-between;

  .car__proper {
    display: flex;
  }

  .price {
    background: $light_grey;
    padding: 1em;
    color: $primary;
    width: 150px;
    text-align: center
  }
}