.header {
  background-color: $text-color;
  padding: 0.5em;
  .header__logo {
    display: block;
    text-indent: -9999px;
    overflow: hidden;
    width: 200px;
    height: 90px;
    background-image: url($logo);
    background-size: contain;
    background-repeat: no-repeat;
  }

  .header__control{

  }
}